h1 {
    color:red;
    background-color:black;
}
h2{
    color :aqua;
    background-color: blue;
}
p{
    color:azure;
    background-color: white;
}
h3{
    color:blue;
    background-color: blueviolet;
}
h4{
    color:pink;
    background-color:orange;
}
button{
    color:brown;
    background-color: blue;
}